name: Scala CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      JAVA_OPTS: "-XX:+UseG1GC -Xmx6g"

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Check headers
      run: sbt +headerCheck
    - name: Check scalafmt
      run: sbt +scalafmtCheckAll scalafmtSbtCheck
    - name: Compile everything
      run: sbt +compile +test:compile
    - name: Run tests
      run: sbt +test
